<nav class="navbar navbar-expand-lg navbar-light bg-light" class="navbar navbar-light" style="background-color: #0b0c0c;">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a  routerLink="/login" class="nav-link"> Add Book</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"> Get All books</a>
    </li>
  </ul></nav>

<div class ="container">
    <h3 class="text-center">Book list</h3>
    <div class="card">
        <div class ="card-body">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>BookName</th>
                    <th>AuthorName</th>
                    <th>Update</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    <tr *ngFor ="let user of users">
                        <td> {{user.bookId}}</td>
                        <td> {{user.bookName}}</td>
                        <td>{{user.bookAuthor}} </td>
                        <td ><button (click)="update(user.bookId)" class="btn btn-primary" >Update</button></td>

                        <td><button (click)="delete(user.bookId)" class="btn btn-danger">Delete</button></td>
                        
                    </tr>
                </tbody>
            </table>
            <button (click)="refresh()" class="btn btn-secondary">Refresh</button>
        </div>
    </div>
</div>